# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Next.js build output
.next/
out/

# TypeScript build output
dist/

# SQLite Database
backend/dev.db
backend/dev.db-journal
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Uploads
backend/uploads/

# Env files (contains sensitive keys/db credentials)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
